.logo {
    width: fit-content;
    height: 110px;
    margin: auto;
}
.logo > .simple-text {
    width: fit-content;
    height: 110px;
}
.logo-img {
    width: 180px;
    height: 110px;
}
.logo-img > img {
    width: 180px;
    position: relative;
    height: fit-content;
}