<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Clients List</h4>
                      <p class="card-category"> Here you can see all your clients</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                <th>
                                    Client ID (CIN)
                                </th>
                                <th>
                                    Client First Name
                                </th>
                                <th>
                                    Client Last Name
                                </th>
                                <th>
                                    Client E-mail
                                </th>
                                <th>
                                    Actions
                                </th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let client of clients">
                                    <td>
                                        {{client.cin}}
                                    </td>
                                    <td>
                                        {{client.prenom}}
                                    </td>
                                    <td>
                                        {{client.nom}}
                                    </td>
                                    <td>
                                        {{client.email}}
                                    </td>
                                    <td>
                                        <a class="m-action-button" (click)="removeClient(client.cin)">Delete<i _ngcontent-roa-c48="" class="material-icons">delete</i></a>
                                        <a class="m-action-button" (click)="editClient(client.cin)">Edit<i _ngcontent-roa-c48="" class="material-icons">edit</i></a>
                                        <a class="m-action-button" (click)="openProfile(client.cin)">Open<i _ngcontent-roa-c48="" class="material-icons">face</i></a>
                                    </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-8 m-edit-modal is-hidden">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Create Client Profile</h4>
                    <p class="card-category">Complete your profile</p>
                </div>
                <div class="card-body">
                    <form (action)="updateClient()">
                        <div class="row">
                            <div class="col-md-5">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Company (disabled)" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Client ID" [(ngModel)]="clientCin">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Email address" [(ngModel)]="clientEmail" type="email">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Fist Name" type="text" [(ngModel)]="clientFirstName">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Last Name" type="text" [(ngModel)]="clientLastName">
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Adress" type="text" [(ngModel)]="clientAddress">
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="City" type="text"[(ngModel)]="clientCity">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Country" type="text" [(ngModel)]="clientCountry">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Postal Code" type="text" [(ngModel)]="clientPostalCode">
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <label>About Me</label>
                              <mat-form-field class="example-full-width">
                                 <textarea matInput placeholder="(Optional)." [(ngModel)]="clientAboutMe"></textarea>
                               </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button type="submit" (click)="cancelUpdateClient()" class="btn pull-right">Cancel</button>
                        <button mat-raised-button type="submit" (click)="updateClient()" class="btn btn-danger pull-right">Update Client Profile</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
