<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>EDIT COMPTES</title>
</head>
<body>
	<h1>Edit Compte</h1>
	<form th:object="${compte}" th:action="@{/comptes/update}" method="post">
		<table>
			<tr>
				<td>Rib</label></td>
				<td><input type="number" th:field="*{rib}" readonly="readonly" /></td>
			</tr>
			<tr>
				<td>Solde</label></td>
				<td><input type="number" th:field="*{solde}" /></td>
			</tr>
			<tr>
				<td>Nom Client</label></td>
				<td><input type="text" th:field="*{nomClient}" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Update" /></td>
			</tr>
		</table>
	</form>

</body>
</html>